doctype xml
rss(version='2.0',
    xmlns:content='http://purl.org/rss/1.0/modules/content/',
    xmlns:wfw='http://wellformedweb.org/CommentAPI/',
    xmlns:dc='http://purl.org/dc/elements/1.1/'
    xmlns:atom='http://www.w3.org/2005/Atom')
  channel
    title= config.name
    atom:link(href=config.url + '/feed.xml', rel='self', type='application/rss+xml')
    link= config.url
    description= config.description
    pubDate= articles[0].rfc822date
    language en
    for article in articles
      - if(!article.html) continue;
      - var permalink = config.url + article.url
      item
        title= article.metadata.title_en || article.title
        link= permalink
        pubDate= article.rfc822date
        guid(isPermaLink='true')= permalink
        author= article.author
        //- passing config.url resolves all relative urls to absolute
        description= article.html
